apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-clientes-pvc
  namespace: parkin
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-clientes
  namespace: parkin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db-clientes
  template:
    metadata:
      labels:
        app: db-clientes
    spec:
      containers:
      - name: postgres
        image: postgres:16-alpine
        env:
        - name: POSTGRES_DB
          value: db_parkin_users
        - name: POSTGRES_USER
          value: postgres
        - name: POSTGRES_HOST_AUTH_METHOD
          value: trust
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
        livenessProbe:
          exec:
            command:
            - pg_isready
            - -U
            - postgres
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
            - pg_isready
            - -U
            - postgres
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: db-clientes-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: db-clientes
  namespace: parkin
spec:
  selector:
    app: db-clientes
  ports:
  - port: 5432
    targetPort: 5432
  type: ClusterIP
