apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: parkin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
      - name: notification-service
        image: cjgranda1/notification-service:latest
        env:
        - name: PORT
          value: "3000"
        - name: DB_HOST
          value: db-notifications
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: db_parkin_notifications
        - name: DB_USERNAME
          value: postgres
        - name: RABBITMQ_HOST
          value: rabbitmq
        - name: RABBITMQ_PORT
          value: "5672"
        - name: RABBITMQ_USERNAME
          value: admin
        - name: RABBITMQ_PASSWORD
          value: admin
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: parkin
spec:
  selector:
    app: notification-service
  ports:
  - port: 3000
    targetPort: 3000
  type: LoadBalancer
